:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
    --font-secondary: "Inter", sans-serif;
    --color-primary: #ce1212;
    --color-secondary: #37373f;
    --color-background: #ffffff;
    --color-text-light: #7f7f90;
    --color-hover: #ec2727;
}


body {
    font-family: var(--font-default);
    color: var(--color-secondary);
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
}

a {
    color: var(--color-primary);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--color-hover);
}


.header {
    background: var(--color-background);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    padding: 10px 30px;
    z-index: 997;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Logo styling */
.header .logo h1 {
    font-size: 28px;
    font-weight: 700;
    color: var(--color-secondary);
    font-family: var(--font-secondary);
    margin: 0;
}

.header .logo h1 span {
    color: var(--color-primary);
}


.logo-search-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex: 1;
}


.navbar {
    display: flex; 
    justify-content: center; 
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-text-light);
    padding: 8px 12px;
    transition: color 0.3s ease;
    position: relative;
}

.navbar ul li a:hover {
    color: var(--color-secondary);
}

.navbar ul li a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
    left: 0;
    bottom: -5px;
    visibility: hidden;
    width: 0%;
    transition: width 0.3s ease-in-out, visibility 0.3s;
}

.navbar ul li a:hover:before {
    visibility: visible;
    width: 100%;
}


.search-bar {
    display: flex;
    align-items: center;
    margin: 0 20px; 
    justify-content: center; 
}


#search-input {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid var(--color-secondary);
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 100%;
    max-width: 150px;
    transition: width 0.3s ease;
}

#search-input:focus {
    width: 200px;
}


.search-btn {
    background-color: var(--color-secondary);
    border: none;
    padding: 8px 12px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: white;
    margin-left: 10px;
}


.mobile-nav-toggle {
    color: var(--color-primary);
    font-size: 30px;
    cursor: pointer;
    z-index: 9999;
    display: none;
}

@media (max-width: 1279px) {

    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 350px;
        border-left: 1px solid #ddd;
        bottom: 0;
        transition: 0.3s;
        z-index: 9997;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: -4px 0 15px rgba(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
        justify-content: flex-start; 
        padding-top: 60px;
    }

    .mobile-nav-toggle {
        display: block; 
    }

    .navbar.show {
        display: flex; 
    }

    .navbar ul {
        flex-direction: column;
        align-items: flex-start; 
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .search-bar {
        flex-direction: row; 
        width: auto; 
        justify-content: center; 
        align-items: center;
    }

    #search-input {
        max-width: 100%;
        width: auto;
    }

    .search-btn {
        margin-left: 0; 
    }
}


@media (min-width: 1280px) {
    .navbar {
        display: flex;
    }

    .mobile-nav-toggle {
        display: none;
    }
}