{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<header id="header" class="header fixed-top d-flex align-items-center">
    <a href="{% url 'home' %}" class="logo d-flex align-items-center me-auto me-lg-0">
        <h1>D Clothing<span>.</span></h1>
    </a>

    <div class="logo-search-container">
        <div class="search-bar d-flex align-items-center mx-3">
        </div>
    </div>

    <i class="mobile-nav-toggle bi bi-list mobile-nav-show" onclick="toggleNavbar()"></i>
    <i class="mobile-nav-toggle d-none bi bi-x mobile-nav-hide" onclick="toggleNavbar()"></i>

    <nav id="navbar" class="navbar">
        <ul>
            {% if user.is_authenticated %}
                {% if user.is_staff or user.is_superuser %}
                    <!-- Admin Navbar -->
                    <li><a href="{% url 'admin_dashboard' %}" class="{% if request.path == '/admin-dashboard/' %}active{% endif %}">Admin Dashboard</a></li>
                    <li><a href="{% url 'profile' %}" class="username-link">Welcome, {{ user.username }}</a></li>
                    <li>
                        <form method="post" action="{% url 'logout' %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-btn">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <!-- User Navbar -->
                    <li><a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
                    <li><a href="{% url 'about' %}" class="{% if request.path == '/about/' %}active{% endif %}">About</a></li>
                    <li><a href="{% url 'menu' %}" class="{% if request.path == '/menu/' %}active{% endif %}">Menu</a></li>
                    <li><a href="{% url 'profile' %}" class="username-link">Welcome, {{ user.username }}</a></li>
                    <li>
                        <form method="post" action="{% url 'logout' %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-btn">Logout</button>
                        </form>
                    </li>
                    <li><a href="{% url 'cart' %}">Cart (<span id="cart-count">{{ cart_items.count }}</span>)</a></li>
                    <li><a href="{% url 'order_tracking' %}" class="{% if request.path == '/order_tracking/' %}active{% endif %}">Status</a></li>
                {% endif %}
            {% else %}
                <!-- Non-authenticated User Navbar -->
                <li><a href="{% url 'signin' %}" class="{% if request.path == '/signin/' %}active{% endif %}">Sign In</a></li>
                <li><a href="{% url 'signup' %}" class="{% if request.path == '/signup/' %}active{% endif %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<script src="{% static 'js/nav.js' %}"></script>