{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<div class="container-center">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row justify-content-center gy-5">
                <div class="col-lg-5 d-flex flex-column justify-content-center align-items-center">
                    <form method="post" action="{% url 'signup' %}" class="form">
                        {% csrf_token %}
                        <h3>Sign Up</h3>
                        {% for field in form %}
                            {% if field.name != 'address' %} <!-- Skip the address field -->
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <div class="inputForm">
                                    {{ field }}
                                </div>
                                {% if field.errors %}
                                    <div class="errors">
                                        {% for error in field.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            {% endif %}
                        {% endfor %}
                        <button type="submit" class="button-submit">Sign Up</button>
                        <p>Already have an account? <a href="{% url 'signin' %}">Log In</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}